:root {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FAEDF3;
}

li {
    font-size: large;
    list-style-type: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.start-btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.start-btn:hover {
    background-color: #FEBAD6;
    color: white;
}

#submit-btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    transition-duration: 0.4s;
}
 
#submit-btn:hover {
    background-color: #FEBAD6;
    color: white;
}